.logo{
   width: 11em;
   height: 5em;
}

.section-encabezado-principal{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.buscador-header{
   border-radius: 1em;
   width: 100%;
   padding: 0.25em 2em;
   border-color: gray;
   border-style: solid;
   background-color: #F2F3F3;

}

.caja-buscador-header{
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icono-lupa{
   position: absolute;
   left: 8px;
   bottom: 3px;
}

.iconos-header{
   padding: 0.5em;
}