/* estilos-registrarse.css */

@import url("temas-colores-fuentes.css"); 
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--light-color-fondo2);
}

.formulario-registro{
    max-width: 25em;
    width: 90%;
    margin: 6em auto;
    padding: 2rem;
    background-color: var(--light-color-texto);
    color: var(--light-color-acento-2);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Muli', sans-serif;
    text-align: left;
}

.registro-titulo{
     margin-bottom: 1rem;
     font-size: 1.2rem;
     font-family: 'Quattrocento Sans', serif;
     font-weight: bold;
     padding-bottom: 1rem;
     border-bottom: 1px solid #eee;
}

.registro-titulo a{
    text-decoration: none;
    color: #0f3e1b;
}

.registro-titulo a:hover{
  text-decoration: underline;
}

.acceso-link{
  display: block;
    font-size: 1rem;
    color: var(--light-color-acento-2);
}

.formulario-registro label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;   
}

.formulario-registro input{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: .5px solid var(--light-color-acento-1);
    background-color: var(--light-color-fondo);
    color: var(--light-color-acento-2);
}

input::placeholder {
  color: #aaa;
}

input[type="checkbox"]{
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
}

.btn-registrar{
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem;
  background-color: var(--light-color-acento-3); 
  border-radius: 4px;
  color: var(--light-color-texto);
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: none;
}

.btn-registrar:hover {
  background-color: #0f3e1b;
}

.contenedor-checkbox{
   display: flex;
   align-items: center;
   gap: 5px;
   margin-bottom: 1rem;
}

input[type="checkbox"]{
    width: 16px;
    height: 16px;
    margin: 0;
}

.contenedor-checkbox label {
   margin-bottom: 0;
    font-size:12px;
    
}.tieneCuenta, .contenedor-checkbox a {
color: var(--light-color-acento-2);
}

.input-error{
  border: 2px solid red !important;
  
}

.error-texto {
  color: red;
  font-size: 14px;
  margin-top: 0.2px;
  display: block;
}

#btn-registrar:disabled{
  cursor: not-allowed;
  opacity: 0.6;
}

.iniciar-sesion{
  text-decoration: none;
    color: #0f3e1b;
    text-decoration: underline;
}


@media (max-width: 768px) {

  .formulario-registro {
    padding: 1.8rem;
    
  }
  
}


@media (max-width: 480px) {

  .formulario-registro {
    padding: 1.rem;
    width: 80%;
  }
  
}