/* estilos-datos-personales.css */
.nav a{
    display: flex;
    justify-content:flex-start;
    padding: 1em 1em 1em .3em;
    gap: 1em;
    background-color: var(--dark-color-acento-2);
    max-width: 100%;
    color:var(--light-color-texto);
}
.nav span{
    font-size: 1.5em;
}
.container-datos{
    
    display: flex;
    margin: 0;

}
.opcion-menu{
    width: 100%;
}
.asterisco-rojo{
    color: red;
}
 .opcion-menu-content{
    width: 100%;
   max-width: 90%;
   display: flex;
   flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.contenedor-favoritos{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
width: 100%;
gap: 1em;
}
.opcion-menu-content input, .opcion-menu-content select{
    width: 60%;
    padding: 1em;
    border-radius: .5em;
}

.hide{
    display: none;
}

.menu-aside-perfil {
    height:auto;
    background-color: var(--dark-color-acento-3);
    color: var(--light-color-texto);
    padding: 1em;
    margin: 0; 
   text-align: left;
   width: 20%;
   margin-bottom: 10px;
   margin-top: 10px ;
    border-radius: .5em;
}


.menu-lista ul{
    padding: 0;
    text-align: left;
}
.menu-lista h1{
font-size: 2em;
font-weight: 200;
}
.menu-lista li{
    padding: .5em;
    border: .3 solid rgb(33, 31, 31);
    margin: 0 0 .5em;
    list-style: none;
    text-align: left;
    border-radius: .2em;
}
.menu-lista #mi-usuario{
    
    background-color: var(--dark-color-acento-2);
}


.favorito{
width: 100%;
position: relative;
}

.favorito svg{
    position: absolute;
    top: 0;
    right: 1;
}

.favorito img{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 0.5em;
}

.btn{
  width: 20%; 
  padding: 0.75rem;
  background-color: var(--dark-color-acento-2); 
  border-radius: 4px;
  color: var(--light-color-texto);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}
