@import url("temas-colores-fuentes.css"); 

body {
  font-family: 'Muli', sans-serif;
  color: var(--dark-color-texto); 
  background-color: var(--light-color-fondo2); 
  margin: 0;
  width: 100%;

}

h1, h2, h3, h4 , .item-valor-nombre{
  font-family: 'Quattrocento Sans', serif;
}

p{
  font-family: 'Molengo', sans-serif;
}

a{
   text-decoration: none;
   color: var(--light-color-texto);
}

.logo{
   width: 11em;
   height: 5em;
}

.section-encabezado-principal{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.buscador-header{
   border-radius: 2em;
   width: 100%;
   padding: 0.70em 2.5em;
   border-style: none;
  background-color: var(--light-color-acento-1);
}

.caja-buscador-header{
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icono-lupa{
   position: absolute;
   left: 12px;
   bottom: 6px;
}

.boton-acceder{
    padding: 0.70em;
    border-radius: 2.5em;
    background: #145222;
    margin-right: 2em;
    font-weight: 600;
}

.img-carrousel{
   height: 50vh;
}

.contenido-carrousel{
   display: flex;
   justify-content: center;
   align-items: center;
}

.boton-carrousel{
  margin-left: 1em;
  margin-right: 1em;
  font-size: 2em;
}

.circulo-carrousel-general{
   margin: 1em 0em;
   display: flex;
   justify-content: center;
}

.circulo-carrousel{
   padding: 3px;
}

 .container-columnas-footer{
   display: grid;
   grid-template-columns: repeat(3,1fr);

   padding: 2em;
}

.footer-principal{
  background-color: var(--dark-color-acento-3);
  color: var(--light-color-texto);
  display: flex;
  flex-direction: column;

}
.columna-footer {
  display: flex;
  flex-direction: column;
}

.logos_redes{
   display: flex;
   gap: 1em;
}

.logos_redes img{
   width: 2em;
}

.columna-footer ul{
  list-style: none;
  padding: 0;
  font-size: 1.2em;
}

.copyright{
text-align: center;
background-color: var(--dark-color-acento-3);
width: 100%;
margin: 0;
}
.columna-footer h4{
   font-size: 1.3em;
}

.footer-principal a:hover{
   color: var(--dark-color-acento-2);
}

@media (max-width: 768px) {
  .logo{
    width: 8em;
    height: 4em;
  }

  

  .footer-principal {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5em; 
  }
  .container-columnas-footer{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
 

  .columna-footer {
    width: 100%;
    align-items: left;
    
  }

  .logos_redes {
    justify-content: center;
  }
}