/* estilos-datos-personales.css */
@import url(temas-colores-fuentes.css);
.nav a{
    display: flex;
    justify-content:flex-start;
    padding: 1em 1em 1em .3em;
    gap: 1em;
    background-color: var(--dark-color-acento-2);
    max-width: 100%;
    color:var(--light-color-texto);
}
.nav span{
    font-size: 1.5em;
}
.logo{
   width: 11em;
   height: 5em;
}
.section-encabezado-principal{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.buscador-header{
   border-radius: 2em;
   width: 100%;
   padding: 0.70em 2.5em;
   border-style: none;
  background-color: var(--light-color-acento-1);
}

.caja-buscador-header{
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icono-lupa{
   position: absolute;
   left: 12px;
   bottom: 6px;
}

.container-datos{
    
    display: flex;
    margin: 0;

}
.opcion-menu{
    width: 100%;
    padding: 2em;
}
.asterisco-rojo{
    color: red;
}
 .opcion-menu-content{
    width: 100%;
   max-width: 90%;
   display: flex;
   flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.contenedor-favoritos{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
width: 100%;
gap: 1em;
}
.opcion-menu-content input, .opcion-menu-content select{
    width: 60%;
    padding: 1em;
    border-radius: .5em;
}

.hide{
    display: none;
}

.menu-aside-perfil {
    height:auto;
    background-color: var(--dark-color-acento-3);
    color: var(--light-color-texto);
    padding: 1em;
    margin: 0; 
   text-align: left;
   width: 20%;
   margin-bottom: 10px;
   margin-top: 10px ;
    border-radius: .5em;
}


.menu-lista ul{
    padding: 0;
    text-align: left;
}
.menu-lista h1{
font-size: 2em;
font-weight: 200;
}
.menu-lista li{
    padding: .5em;
    border: .3 solid rgb(33, 31, 31);
    margin: 0 0 .5em;
    list-style: none;
    text-align: left;
    border-radius: .2em;
}

.favorito{
width: 100%;
position: relative;
}

.favorito svg{
    position: absolute;
    top: 0;
    right: 1em;
}

.favorito img{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 0.5em;
}

.btn{
  width: 20%; 
  padding: 0.75rem;
  background-color: var(--dark-color-acento-2); 
  border-radius: 4px;
  color: var(--light-color-texto);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}
.menu-lista .activo {
  background-color: var(--dark-color-acento-2);
  font-weight: bold;
}

@media (min-device-width: 481px) and (max-device-width: 768px) { 
   .logo{
    width: 8em;
    height: 4em;
  }
.menu-lista h1{
    font-size: 1.2em;
  }
  .btn{
  width: 40%;
  }
  .icono-lupa{
    display: none;
  }
    .buscador-header {
    border-radius: 1em;
    width: 100%;
    padding: 0.10em;
    border-color: gray;
    border-style: solid;
    background-color: #F2F3F3;
    } 

  .footer-principal {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5em; 
  }
  .container-columnas-footer{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .columna-footer {
    width: 100%;
    align-items: center;
    
  }

  .logos_redes {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .logo {
    width: 6em;
    height: 3em;
  }
 .menu-lista h1{
    font-size: 1.2em;
  }
  .icono-lupa{
    display: none;
  }


  .buscador-header {
    border-radius: 1em;
    width: 100%;
    padding: 0.10em;
    border-color: gray;
    border-style: solid;
    background-color: #F2F3F3;
}


/*footer-celu*/
  
  .footer-principal {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5em; 
  }

  .container-columnas-footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .columna-footer {
    width: 100%;
    align-items: center;
  }

  .logos_redes {
    justify-content: center;
  }
}