/* estilos-recuperar-password.css */
 @import url("temas-colores-fuentes.css"); 
 
.recuperacion {
  max-width: 30em;
  margin: 6em auto;
  padding: 2rem;
  background-color: var(--light-color-texto);
  color: var(--light-color-acento-2);
  border-radius: 8px;
  font-family: 'Muli', sans-serif;
}

.recuperacion__titulo {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-family: 'Quattrocento Sans', serif;
}
.recuperacion__titulo a{
    text-decoration: none;
    color: #0f3e1b;
}
.recuperacion__titulo a:hover{
    text-decoration: underline;
}

.recuperacion__texto {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.recuperacion__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.recuperacion__input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: .5px solid var(--light-color-acento-1);
  background-color: var(--light-color-fondo);
  color: var(--light-color-acento-2);

}

.recuperacion__input::placeholder {
  color: #aaa;
}

.btn{
  padding: 0.75rem;
  background-color: var(--light-color-acento-3);
  border-radius: 4px;
  color: var(--light-color-texto);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.btn:hover {
  background-color: #0f3e1b;
}
.btn_recuperar{
  margin-top: 2rem;
  display: block;
  margin-left: auto;
 
}


.captcha-falso {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--light-color-acento-1);
  padding: 0.75rem;
  border-radius: 4px;
  background-color: var(--light-color-texto);
  max-width: 15em;
}

.captcha-falso input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
}

.captcha-falso span {
  font-size: 0.9rem;
  color:var(--light-color-acento-2);
}

.captcha__img {
  width: 2em;
  height: 2em;
  margin-left: auto;
}
.input-error{
border: 3px solid red ;
font-size: 1em;

}
.msj-error{
  color: red;
  font-size: 1em;
  margin-bottom: 1em;
}

.btn_recuperar {
  background-color: var(--light-color-acento-3);
  cursor: not-allowed;
  opacity: 0.6;
  transition: background-color 0.3s ease;
}

.btn_recuperar--activo {
  background-color:var(--light-color-acento-3);
  cursor: pointer;
  opacity: 1;
}
.mensaje_exito{
  color:var(--dark-color-acento-2);
  font-size: 1em;
  padding: 1em;
  border: 1px var(--light-color-acento-3) solid;

}
@media (max-width: 480px) {

.recuperacion {
  max-width: 15em;
}

}
@media (min-device-width: 481px) and (max-device-width: 768px) {
  .recuperacion {
  max-width: 25em;
}

}